--index-url https://pypi.python.org/simple

-e git+https://github.com/vahtras/util.git@master#egg=util
-e git+https://github.com/vahtras/fortran-binary.git@master#egg=fortran-binary
-e .

nose==1.3.7
mock==2.0.0
pytest-cov==2.2.1
